.chart-container {
    // height: 40vh;
    width: auto;
    padding: 1rem 2rem;
    // transform: scale(0.9);
    .chart-header {
        text-align: center;
        color: #fff;
        text-decoration: underline;
    }
}